@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen;
}

main {
  @apply min-h-screen;
}
